@model IEnumerable<ForApp.Models.Cart>

@{
	ViewData["Title"] = "Cart";
}

<h1>Check Your Cart</h1>
<p>
    <a asp-controller="Orders" asp-action="OrderHistory">List Order</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UId)
			</th>
			<th>
				Quantity
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookIsbn)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UId)
				</td>
				<td>
					<div class="d-flex flex-row">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>

                    <input id="quantity" min="1" name="quantity" value="" type="number"
                      class="form-control form-control-sm" style="width: 50px;" />

                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookIsbn)
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-controller="Books" asp-action="Checkout" class="btn btn-primary">Checkout</a>
