@model IEnumerable<ForApp.Models.Cart>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookIsbn)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookIsbn)
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-controller="Books" asp-action="Checkout">Checkout</a>
